.trains-container {
  }
  
  .trains-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .update-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .close-btn {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: red;
}
  .update-btn {
    background: #ffc107;
    color: white;
  }
  
  .delete-btn {
    background: #dc3545;
    color: white;
  }
  

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .submit-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
  }